---
import Seccion from "../../layouts/Seccion.astro";
---

<Seccion title="Magia?">
    {/*articulos.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)*/}
    <li><a href="/public/infografia.pdf">Magic Miatic</li>
</Seccion>