---
import Seccion from "../../layouts/Seccion.astro";
const articulos = await Astro.glob('../musica/*.md');
---

<Seccion title="Música?">
    {articulos.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</Seccion>