<footer>
    <span>© IES Alfonso XI 2024</span>
    <span class="middle">Web por Gerardo Jiménez / JXQU3</span>
    <span class="right">E s p e j i s m o</span>
</footer>

<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100% !important;
        height: 2vh !important;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        padding: 20px !important;
        background-color: #222;
        box-sizing: border-box;
    }

    .middle {
        width: fit-content;
        word-wrap: none;
        word-break: normal;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .right {
        width: fit-content;
        word-wrap: none;
        word-break: normal;
        position: absolute;
        right: 20px;
    } 

    @media only screen and (max-width: 600px) {
       .right {
           display: none;
       }

       .middle {
        width: fit-content;
        left: unset;
        transform: unset;
        word-wrap: none;
        word-break: normal;
        position: absolute;
        right: 20px;
       }

       footer span {
           font-size: 0.8rem;
       }
    }

</style>