<footer>
    <span>© IES Alfonso XI 2024</span>
    <span class="right">E s p e j i s m o</span>
</footer>

<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100% !important;
        height: 2vh !important;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        padding: 20px !important;
        background-color: #333;
        box-sizing: border-box;
    }
    
    .right {
        width: fit-content;
        word-wrap: none;
        word-break: normal;
        position: absolute;
        right: 20px;
    } 
</style>