---
const {frontmatter} = Astro.props;
import NavBar from "../components/NavBar.astro";
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title> 
	</head>
	<body>
        <NavBar/>
        <div class="bo">
            <h1>{frontmatter.title}</h1>
            <slot />
        </div>
	</body>
</html>

<style is:global>
     body {
        margin: 0%;
        padding: 0%;
        color: #eee;
        overflow-x: hidden;
        background-color: #222;
        font-family: "Times New Roman", Times, serif;
    }

    p {
        font-size: 1.2rem;
        margin: 10px;
        margin-bottom: 20px;
    }
    
    pre {
        padding: 20px;
        border-radius: 10px;
        border: 2px solid #111 !important;
        background-color: #333 !important;
        word-break: break-all !important;
        word-wrap: break-word !important;
        overflow: hidden !important;
        margin-bottom: 10px;
    }
    
    code * {
        font-size: 1rem;
        overflow: hidden;
        word-wrap: break-word !important;
        word-break: break-all !important;
        font-family: monospace;
     }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    h1 {
        font-size: 4rem;
        margin: 20px;
    }
    h2 {
        font-size: 2rem;
        margin: 10px;
    }
    h3 {
        font-size: 0.8rem;
        margin: 10px;
        color: #aaa;
        font-family: monospace;
    }

    .bo {
        margin: 60px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

</style>